<app-navbar></app-navbar>
<div class="translate-x-[30px] overflow-x-auto">
<div class="m-10 sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class=" text-base font-semibold leading-6 text-gray-900">Transactions</h1>
    <p class="mt-2 text-sm text-gray-700">A list of all the transactions in your database including the sender name, the recipient name, their value, date and block.</p>
  </div>
</div>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 m-8">
    <div (click)="takeToDetailedTransactions(transaction.id)" *ngFor="let transaction of _shared.transactions" class="bg-white/10 backdrop-blur-0 cursor-pointer relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
      <div class="min-w-0 flex-1">
        <a class="focus:outline-none">
          <span class="absolute inset-0" aria-hidden="true"></span>
          <h2 class="text-sm text-center font-medium text-gray-900">Transaction Id: {{transaction.id}} </h2>
          <div class="flex justify-center items-center gap-48">
            <p class="truncate text-sm text-gray-500">Sender: <span [ngClass]="{'text-rose-700 underline': transaction.sender == 'Unknown Sender', 'text-yellow-600': transaction.sender != 'Unknown Sender'}">{{transaction.sender}}</span></p>
            <p class="truncate text-sm text-gray-500">Recepient: <span [ngClass]="{'text-rose-700 underline': transaction.recepient == 'Unknown Recipient', 'text-yellow-600': transaction.recepient != 'Unknown Recipient'}">{{transaction.recepient}}</span></p>
          </div>
          <div>
            <p class="truncate text-sm text-gray-500">Value: <span class="text-lime-600">${{transaction.value}}</span></p>
            <p class="truncate text-sm text-gray-500">Date: <span class="text-teal-600"> {{transaction.time}} </span></p>
            <p class="truncate text-sm text-gray-500">Blockchain: <span [ngClass]="{'text-rose-700 underline': transaction.blockchain_id == 'Not Found', 'text-blue-600': transaction.blockchain_id != 'Not Found'}" class="">{{transaction.blockchain_id}}</span> </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div>
  <div class="fixed -top-24 right-0 -z-10 transform-gpu blur-3xl" aria-hidden="true">
    <div class="aspect-[1404/767] w-[87.75rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
</div>
</div>
  