<app-navbar></app-navbar>
<div class="mx-auto max-w-md sm:max-w-3xl">
  <div>
    <div class="text-center">
      <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 48 48" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M34 40h10v-4a6 6 0 00-10.712-3.714M34 40H14m20 0v-4a9.971 9.971 0 00-.712-3.714M14 40H4v-4a6 6 0 0110.713-3.714M14 40v-4c0-1.313.253-2.566.713-3.714m0 0A10.003 10.003 0 0124 26c4.21 0 7.813 2.602 9.288 6.286M30 14a6 6 0 11-12 0 6 6 0 0112 0zm12 6a4 4 0 11-8 0 4 4 0 018 0zm-28 0a4 4 0 11-8 0 4 4 0 018 0z" />
      </svg>
      <h2 class="mt-2 text-base font-semibold leading-6 text-gray-900">Blockchain</h2>
      <p class="mt-1 text-sm text-gray-500">in here you can view the Blockchains and the transactions associated.</p>
    </div>
  </div>
  <div class="mt-10">
    <ul role="list" class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
      <li *ngFor="let block of _shared.blockchain" class="">
        <div class="group flex w-full items-center justify-between space-x-3 rounded-full border border-gray-300 p-2 text-left shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="flex min-w-0 flex-1 items-center space-x-3">
            <span class="block flex-shrink-0">
            </span>
            <span class="block min-w-0 flex-1">
              <span class="block truncate text-sm font-medium text-gray-900">Blockchain ID: {{block.id}}</span>
              <span class="block truncate text-sm font-medium text-gray-500">Verified Transactions IDs: <span (click)="takeToDetailedTransactions(block.verified_transactions[0])" class="underline cursor-pointer">{{block.verified_transactions[0]}}</span>  & <span (click)="takeToDetailedTransactions(block.verified_transactions[1])" class="underline cursor-pointer">{{block.verified_transactions[1]}} </span> </span>
            </span>
          </span>
          <button (click)="deleteBlock(block.id)" class="inline-flex h-10 w-10 flex-shrink-0 items-center justify-center">
            <svg class="h-5 w-5 text-gray-400 group-hover:text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M4 10.75a.75.75 0 000-1.5h8a.75.75 0 000 1.5H4z" />
            </svg>
          </button>
        </div>
      </li>
      
    </ul>
  </div>
</div>
